# Pandas Basics
#### My Personal notes on Pandas Module



1. Import Pandas Module

In [ ]:
import numpy as np
import pandas as pd

## Creating DataFrame

Example:
  * 5 rows
  * 2 columns, one named `Students` and the other named `Courses`

The following code cell instantiates a `pd.DataFrame` class to generate a DataFrame.

In [ ]:
#Populate a 4x2 NumPy array.
st_data = np.array([[45, 3], [107, 4], [67, 5], [22, 6]])

#Python list that holds the names of the two columns.
st_columns = ['Students', 'courses']

# Create a DataFrame.
st_dataframe = pd.DataFrame(data=st_data, columns=st_columns)

# Print the entire DataFrame
print(st_dataframe)

   Students  courses
0        45        3
1       107        4
2        67        5
3        22        6

## Adding a new column to a DataFrame

You may add a new column to an existing pandas DataFrame just by assigning values to a new column name. For example, the following code creates a third column named `adjusted` in `my_dataframe`:

In [ ]:
# Create a new column named adjusted.
st_dataframe["new_courses"] = st_dataframe["courses"] + 2

# Print the entire DataFrame
print(st_dataframe)

   Students  courses  new_courses
0        45        3            5
1       107        4            6
2        67        5            7
3        22        6            8

## Specifying a subset of a DataFrame

Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.

In [ ]:
print("Rows #0, #1, and #2:")
print(st_dataframe.head(3), '\n')

print("Row #2:")
print(st_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(st_dataframe[1:4], '\n')

print("Column 'Students':")
print(st_dataframe['Students'])

Rows #0, #1, and #2:
   Students  courses  new_courses
0        45        3            5
1       107        4            6
2        67        5            7

Row #2:
   Students  courses  new_courses
2        67        5            7

Rows #1, #2, and #3:
   Students  courses  new_courses
1       107        4            6
2        67        5            7
3        22        6            8

Column 'Students':
0     45
1    107
2     67
3     22
Name: Students, dtype: int64